input{
    margin: 0.2em;
    font-size: 110%;
    padding: 0.1em;
    border-radius: 0.5em;
    width: 3em;
    text-align: center;
}
input[type=radio]{
    margin-left: 0.1em;
   
    height: 1em;
    
}
body{
    background-color: black;
    color: whitesmoke;
}
.diceType{
    padding:  0.2em;
}
.diceType label{
    width: 5em;
    display: inline-block;
}
.diceType.radio label{
    width: auto;
}
span.diceType{
    text-align: left;
}
#footer{
   margin-top: 3em; 
}
div.diceResult{
    display: inline-block;
}

.discipline{
    background-color: white;
    padding: 0.1em;
    color:black;
}

.exhaustion{
    background-color: black;
    color:white;
}

.madness{
    background-color: red;
    color:white;
}

.pain{
    background-color:rebeccapurple;
    color:white;
}

.dominanceHi{
    margin: 0.3em;
    padding: 0.3em;
    border-width: 1px;
    border-color: grey;
    border-style: outset;
}

.winning{
    font-weight: bold;
    font-size: 1.2em;
}
.winner{
    color:greenyellow;
}
.loser{
    color: brown;
}